/*===============
  Mata Info
=================*/

*{
  font-family: 'Raleway', sans-serif;
}


/*===============
  Page Loader
================*/

.page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefefe;
  z-index: 100000;
}

.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  text-indent: -12345px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-left: 1px solid rgba(0, 0, 0, 0.5);

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-animation: spinner 700ms infinite linear;
  -moz-animation: spinner 700ms infinite linear;
  -ms-animation: spinner 700ms infinite linear;
  -o-animation: spinner 700ms infinite linear;
  animation: spinner 700ms infinite linear;

  z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*============
  Scroll Arrow
==============*/

.scrollArrow {
  margin-top: 80px;
}
.scrollArrow a span {
  position: relative;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  cursor: pointer;
}

.scrollArrowHome {
  padding-bottom: 20px;
}
.scrollArrowHome a span {
  position: absolute;
  margin-bottom: 40px;
  bottom: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  cursor: pointer;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

a {
  cursor: pointer;
}

/*===============
      NavBar
=================*/

.navLogo{
  font-family: 'Lobster', cursive;
  color: #777;
}

.NavLogoM{
  color: red;
  font-family: 'Lobster', cursive;
}

.blink_me {
  animation: blinker 2s linear infinite;

  -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

@keyframes blinker {  
  50% { opacity: 0.2; }
}

.main-nav {
  width: 100%;
  height: 75px !important;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  background: rgba(255, 255, 255, 0.97);

  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);

  z-index: 100000;

  -webkit-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: height 0.27s cubic-bezier(0, 0, 0.58, 1);
  display: flex;
  justify-content: space-between;
}
.inner-nav {
  display: inline-block;
  position: relative;
  float: right;
  display: none;
}
.inner-nav ul {
  float: right;
  margin: auto;
 
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.3;
}
.inner-nav ul li {
  float: left;
  margin-left: 30px;
  position: relative;
}
.inner-nav ul li a {
  color: #777;
  letter-spacing: 2px;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;

  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.inner-nav ul > li:first-child > a {
}
.inner-nav ul li a:hover,
.inner-nav ul li a.active {
  color: #000;
  text-decoration: none;
}

.clearlist,
.clearlist li {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.clearlist {
  flex-direction: column;
  position: fixed;
  display: flex;
  align-items: center;
  right: 0;
  top: 64px;
}

.main-nav.dark {
  background-color: rgba(10, 10, 10, 0.95);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-nav.dark .inner-nav ul > li > a {
  color: rgba(255, 255, 255, 0.7);
}
.main-nav.dark .inner-nav ul > li > a:hover,
.main-nav.dark .inner-nav ul > li > a.active {
  color: #fff;
}

.main-nav.dark .mobile-nav {
  background-color: transparent;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.9);
}
.main-nav.dark .mobile-nav:hover,
.main-nav.dark .mobile-nav.active {
  color: #fff;
}

.mobile-nav {
  font-size: 2em;
}

.main-nav.mobile-on.dark .inner-nav {
  border-top: 1px solid rgba(100, 100, 100, 0.4);
}

.main-nav.dark .logo,
.main-nav.dark a.logo:hover {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.main-nav.dark .mn-sub {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.main-nav.dark .mn-soc-link {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav.dark .mn-soc-link:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Transparent panel style
 */

.main-nav.transparent {
  background: transparent !important;
}
.main-nav.js-transparent {
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.sidenav {
  display: none;
  background: black;
}

.sidenav {
  height: 100%;
  min-height: 100vh;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1em;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 0.3em;
}


/*============
   Home Page
==============*/

.page-section,
.small-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 140px 0;
}

.bg-dark{
  color: rgba(255, 255, 255, 0.8);
}

.headroom-wrapper {
  height: 0px !important;
}

/*=============
  Skills Page
===============*/

.devicon {
  font-size: 5em !important;
  margin: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  transition: ease 0.3s;
}

.devicon:hover {
  transform: scale(1.2);
  color: rgba(0, 0, 0, 0.8);
}

/*=============
  Portfolio Page
===============*/

.parallax {
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.work-intro {
  width: 100%;
  height: 100%;
  padding: 20px 20px 0 20px;

  -webkit-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
}

.section-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5em;
  line-height: 1.4;
}

.portfolio-title {
  color: #fff;
  padding: 100px 0;
}

.work-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.2;
}
.work-descr {
  font-size: 1.2em;
  font-size: 1em;
  text-align: center;
  color: #aaa;
  line-height: 1.2;
}

.btn {
  margin: 1em;
  border-radius: 50px !important;
  cursor: pointer;
  color: #fff !important;
}

.workButtons {
  margin-top: 5em;
}

/*============
    Buttons
==============*/

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(119, 119, 119, 0.8);
  border: 2px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}
.btn-mod:hover,
.btn-mod:focus,
a.btn-mod:hover,
a.btn-mod:focus {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-mod:active {
  cursor: pointer !important;
  outline: none !important;
}

.btn-mod.btn-circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.btn-mod.btn-round {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/*==============
  Screen Sizing
================*/

@media (min-width: 992px) {
  .fa-bars {
    display: none;
  }
  .clearlist {
    flex-direction: row;
    top: 14px;
    display: flex;
  }
  .inner-nav ul {
    line-height: 1.3;
  }
  .inner-nav {
    display: flex;
  }
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-section {
    background-attachment: fixed;
  }
}

@media (min-width: 576px) {
  .portfolio-title {
    padding: 100px 60px;
  }
  .skill-list {
    margin: 2em 0 0 0;
  }
  .work-title {
    font-size: 2.5em;
  }
  .work-descr {
    font-size: 1.2em;
  }
}
